<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.ssm.dao.DeptDao">
    <!--分页查询-->
    <select id="getPage" resultType="com.aaa.ssm.entity.Dept">
        select deptno,dname,loc from dept
    </select>
</mapper>